<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="fuckcospm"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="移除 com.heytap.market / com.nearme.instant.platform 作为被唤起方时的启动白名单，强制弹出确认框" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:value="android" />
    </application>
</manifest>
